  /* background */
  /* display */
  /* font */
  /* border, padding, margin */
  /* height, width */
  /* etc */

.container--detail {
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-size:cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 3;

  min-width:100vw;
  min-height:100vh;
}

.detail--background {
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;

  color:black;

  border-radius: 1rem;

  width:50vw;
  height:60vh;

  box-sizing:border-box;
}

.detail--background__left {
  color:black;
  font-size: 3rem;

  margin: 1rem auto auto 1rem;
  border: none;
}

.detail--background__right {

  display: flex;
  flex-direction: column;

  color:black;
  font-size: 3rem;
  
  border: none;
  margin: 1rem auto auto 1rem;
}

.detail--background__right button {

  color:black;
  font-size: 2rem;

  margin: 3rem auto;
}