  /* background */
  /* display */
  /* font */
  /* border, padding, margin */
  /* height, width */
  /* etc */

.container--detail {
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-size:cover;

  color: rgb(0,0,0);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 3;

  min-width:100vw;
  min-height:100vh;
}

.detail--background {
  background-color: white;

  display: grid;
  grid-template-columns: 1fr 1.6fr;

  border-radius: 1rem;
  padding: 1rem;

  width:50vw;
  height:60vh;

  box-sizing:border-box;
}

.detail--background__L {
  color: rgb(0,0,0);
  font-size: 3rem;

  margin: 1rem auto auto 1rem;
  border: none;
}

.detail--background__R {

  display: flex;
  flex-direction: column;

  color: rgb(0,0,0);
  font-size: 3rem;
  
  border: none;
  margin: 1rem auto auto 1rem;
}

.detail--background__R > h1, h2, li, span, div, dt, dd {
  text-align: left;
  color: rgb(0,0,0);

  margin:0.5rem 0;
}

.detail--background__R > h1 {
  font-size: 2.5rem;
}

.detail--background__R > h2 {
  font-size: 1.5rem;
}

.detail--background__R ul {
  padding: 0;
  margin: 0.5rem 0;
  list-style: none;
}

.detail--background__R li {
  font-weight: bold;

  padding-right: 1rem;
  margin:0;

  float: left;
}

.detail--background__R span {
  font-weight: bold;
}

.detail--background__R dt {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.detail--background__R dl {
  margin: 0;
}

.detail--background__R button {
  background-color: rgb(144,80,157);

  color: rgb(255,255,255);
  font-size: 1.2rem;

  border: 1px solid rgb(173,132,178);
  border-radius: 3px;

  padding: 0.3rem 1rem;
  margin: auto;
  margin-right: 1rem;

  transition: ease 0.2s;
  cursor:pointer;
}

.detail--background__R button:hover {
  background-color: rgb(173,132,178);
  
  transform: scale(1.05) perspective(1px);
  transition: ease 0.2s;
}