:root {
  --background--gradient: linear-gradient(90deg, rgba(64,23,58,1) 0%, rgba(92,26,94,1) 33%, rgba(144,80,157,1) 67%, rgba(173,132,178,1) 100%);
  --button--bgcolor: rgb(144,80,157);
  --button--bordercolor: rgb(173,132,178);
  --menu--color: rgba(0,0,0,0.2);
  --font--color: rgb(255,255,255);
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background--gradient);
  background-repeat: no-repeat;
  background-size: contain;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
